table.hl {
  margin: 2em 0;
  td.ln {
    text-align: right;
  }
}

li {
  font: {
    family: serif;
    weight: bold;
    size: 1.2em;
  }
}

$map: (key1: value,
        key2: (
                key21: value,
                key22: value
        ),
        key3: asdasd
);